{% extends 'base.html' %}
{% load static %}
{% block title %}Aula{% endblock %}

{% block full_width_content %}

<!-- <img src="{% static 'aula2.jpeg' %}" alt="Aula Restaurant"> -->
<style>
  .hero-image {
    background-image: url("{% static 'j1.webp' %}");
    width: 100%;
    height: calc(100vh - var(--nav-height));
    /* object-fit: cover; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    /* position: relative; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero-text {
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Poppins", cursive;
  }

  .hero-text h1 {
    color: white;
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: "Ephesis", cursive;
  }

  .hero-text p {
    font-size: 1.25rem;
  }

</style>
<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to Aula</h1>
    <p>Experience modern dining, thoughtfully crafted.</p>
  </div>
</div>

{% endblock %}
{% block main_section %}{% endblock %}