{% extends 'base.html' %}
{% load static %}
{% block title %}Reservation{% endblock %}

{% block content %}
<div class="row justify-content-center g-5">
  <div class="col-md-6">
    <h1 class="mb-4">Make Reservation</h1>
    <form id="reservation_form">
      {% csrf_token %}
      <div class="mb-3">
        <label for="first_name" classs="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Your Name" maxlength="200" required="" id="first_name">
      </div>
      <div class="mb-3">
        <label for="reservation_date" classs="form-label" required>When</label>
        <input type="date" classs="form-control" required id="reservation_date">
      </div>
      <div class="mb-3">
        <label for="reservation_slot" classs="form-label" required>Time</label>
        <select classs="form-select" id="reservation_slot" name="reservation_slot">
          <option value="0" disabled>Select time</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="number_of_guests" classs="form-label">Number of Guests</label>
        <input type="number" classs="form-control" value="2" min="1" max="50" id="number_of_guests">
      </div>
      <div class="mb-4">
        <label for="occasion" classs="form-label">Occasion</label>
        <!-- <textarea class="form-control" id="occasion" placeholder="What are we celebrating?"></textarea> -->
        <select classs="form-select" id="occasion" name="occasion">
          <option value="Birthday">Birthday</option>
          <option value="Anniversary">Anniversary</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <button type="button" id="button">Reserve</button>
    </form>
  </div>


  <div class="col-md-5">
    <h2 class="mb-3">Bookings For <span id="today"></span></h2>
    <div id="reservations" class="text-muted"></div>
  </div>
</div>


{% endblock %}

{% block scripts %}
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script -->
<script>
// console.log("Hello");
const date = new Date()
document.getElementById('reservation_date').value = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate().toString().padStart(2, "0")}`
console.log(document.getElementById('reservation_date').value)
getBookings()

document.getElementById('reservation_date').addEventListener('change',
function () {
	getBookings()
}
);

function getBookings() {
    let reserved_slots = []
    const date = document.getElementById('reservation_date').value
    document.getElementById('today').innerHTML = date
    
    fetch("{% url 'reservation' %}" + '?date=' + date)
      .then(r => r.json())
      .then(data => {
        reserved_slots = []
        bookings = ''

		for (let item of data) {
			console.log(item.fields)
			reserved_slots.push(item.fields.reservation_slot)
			bookings += `<p>${item.fields.first_name} - ${formatTime(item.fields.reservation_slot)}</p>`
		}
	    
		let slot_options = '<option value="0" disabled>Select time</option>'
		// from 3pm to latest 9pm to rsvp table
		for (let i = 15; i <22; i++){
			const label = formatTime(i)
			if (reserved_slots.includes(i)){
				slot_options += `<option value=${i} disabled>${label}</option>`
			} else {
				slot_options += `<option value=${i}>${label}</option>`
			}
		} 
		
		document.getElementById('reservation_slot').innerHTML = slot_options
        if(bookings==''){
          bookings = "No bookings"
        }
        document.getElementById('reservations').innerHTML = bookings
      })
  }		
	
function formatTime(time) {
    const ampm = time < 12 ? 'AM' : 'PM'
    const t = time < 12 ? time : time > 12 ? time - 12 : time
    const label = `${t} ${ampm}`
    return label
}


document.getElementById('button').addEventListener('click', function (e) {
    const formdata = {
      first_name: document.getElementById('first_name').value,
      reservation_date: document.getElementById('reservation_date').value,
      reservation_slot: document.getElementById('reservation_slot').value,
      occasion: document.getElementById('occasion').value,
    }

    fetch("{% url 'reservation' %}", { 
      method: 'post', 
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': document.cookie.split('csrftoken=')[1]?.split(';')[0]
      },
      body: JSON.stringify(formdata) })
      .then(r => r.text())
      .then(data => {
        getBookings()
      })
  })		
	

</script>
{% endblock %}

